<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>js 实现“21点” 扑克牌小游戏</title>
</head>
<body>
  <div class="ws-container">
    <div class="ws-header">
      <div class="ws-title">
        21点游戏
      </div>
      <div class="ws-fl">
        登录
      </div>
    </div>
    <div class="ws-main">
      <div class="ws-house-list">
        <div class="ws-house">
          <img src="/images/resource/ceil.jpg" alt="">
        </div>
      </div>
      <div class="ws-house-list">
        <div class="ws-house">
          <img src="/images/resource/ceil.jpg" alt="">
        </div>
      </div>
      <div class="ws-house-list">
        <div class="ws-house">
          <img src="/images/resource/ceil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
