html {
  font-size: 16px;
}
ul li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	font-weight: 500;
}
p {
	margin: 0;
}
.ws-show {
	display: block;
}
.ws-hide {
	display: none;
}
.ws-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
}
.ws-fl {
	float: left;
}
.ws-fr {
	float: right;
}
*:not(i) {
  font-family: "微软雅黑";
}

.ws-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #F2F2F2;
}
.ws-wrapper {
	margin: 0 auto;
	position: relative;
	max-width: 1360px;
}
.ws-header {
	width: 100%;
    height: 50px;
    background: #f5f5f5;
    border-bottom: 1px solid #d1d1d1;
}
.ws-head {
	margin: 0 auto;
    width: 1200px;
    position: relative;
    z-index: 103;
    height: 50px;
    line-height: 50px;
	color: #444;
}
.ws-title {
	font-size: 20px;
}
.ws-house-list li {
	width: 320px;
	margin: 0 10px 20px 0;
	float: left;
    display: inline-block;
}
.ws-house-list li a{
	background: #fff;
	display: block;
	font-size: 0;
}
.ws-house-list li .ws-imgbox {
	display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.ws-house-list li .ws-mes {
	background: #fff;
	padding: 5px 5px 3px;
	line-height: 20px;
	font-size: 12px;
	height: 48px;
	overflow: hidden;
}
.ws-house-list li .ws-mes-title {
	position: relative;
}
.ws-house-list li .ws-mes-title h3 {
	width: 70%;
    font-size: 14px;
    color: #313131;
}
.ws-house-list li .ws-flag {
	display: block;
	width: 60px;
	font-size: 12px;
	text-align: right;
	color: #f60;
	position: absolute;
	right: 0;
	top: 0;
}
.ws-house-list li .ws-blanker {
	background-position: -2px 4px;
    max-width: 180px;
}
.ws-house-list li p span {
    display: block;
    padding-left: 18px;
    font-size: 12px;
    background: url(../images/mem-icos.png) no-repeat;
    color: #797979;
}

.ws-form {
	margin: 20px;
}
.ws-form label {
	display: block;
	font-size: 16px;
}
.ws-form input {
	width: 325px;
	height: 35px;
	padding: 5px;
	font-size: 16px;
}
.btn {
	width: 200px;
	height: 35px;
	font-size: 20px;
	padding: 5px;
	border: none;
}
.btn-warning {
	color: #fff;
	background-color: #f6a200;
}
.btn-radius {
	border-radius: 5px;
}

.ws-login-box {
	width: 548px;
	height: 325px;
    margin-left: -274px;
    padding: 10px 0;
    position: fixed;
    top: 200px;
    left: 50%;
    z-index: 1001;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
}
.ws-box-head {
	text-align: center;
	color: #f60;
	font-size: 32px;
	margin: 20px;
}
.ws-login-box .ws-form {
	margin-top: 50px;
}
.ws-login-shadow {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .7;
    filter: Alpha(Opacity=70);
    background-color: #000;
}

.ws-ceil {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: url(../images/Floor.jpg) repeat;
}



.ws-table {
	position: absolute;
	width: 80%;
	left: 10%;
}
.ws-hands{
	position:absolute;
	width: 80%;
    height: 60%;
	left:10%;
	top:0%;
}
.ws-cards {
	min-width: 6.8%;
    height: 26.3%;
    margin-left: -3.4%;
}
.ws-card {
	float: left;
	height: 100%;
}
.ws-border {
	border: #FFF 1px solid;
    border-radius: 6px;
}
.ws-player{
	position: absolute;
	left:50%;
	top:60%;
    background:url(../images/Player.png) no-repeat center;
}
.ws-blanker{
	position: absolute;
	left:50%;
	top:25px;
    background:url(../images/Dealer.png) no-repeat center;
}
.ws-score{
	position: absolute;
    width: 35px;
    top: 110%;
    left: 50%;
    margin-left: -20px;
    border: 1px solid #FFF;
    border-radius: 18px;
    padding: 2px;
    font-size: 10px;
    color: #fff;
    text-align: center;
}
.ws-actions {
	position: absolute;
	left: 67%;
	top: 70%;
}

.ws-action{
	position:absolute;
	width:60px;
	height:60px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	display:block;
	background-image:url(../images/actions.png);
}

.ws-actions .ws-stand{
	background-position:0px 0px;
}
.ws-actions .ws-hit{
	background-position:-60px 0px;
	left:75px;
	top:-25px;
}
.ws-actions .ws-split{
	background-position:-120px 0px;
	left:147.5px;
	top:-65px;
}
.ws-actions .ws-double{
	background-position:-180px 0px;
	left:215px;
	top:-110px;
}
.ws-actions .ws-surrender{
	background-position:-240px 0px;
	left:265px;
	top:-175px;
}
.ws-chips {
	position: absolute;
	left: 30%;
	top: 70%;
}
.ws-chip{
	position:absolute;
	width:63px;
	height:60px;
	display:block;
	background-image:url(../images/chips.png);
}
.ws-chips .ws-bet5{
	background-position:0px 0px;
}
.ws-chips .ws-bet25{
	left:-75px;
	top:-25px;
	background-position:-63px 0px;
}
.ws-chips .ws-bet50{
	background-position:-130px 0px;
	left:-147.5px;
	top:-65px;
}
.ws-chips .ws-bet100{
	background-position:-194px 0px;
	left:-215px;
	top:-110px;
}
.ws-chips .ws-bet500{
	background-position:-260px 0px;
	left:-265px;
	top:-175px;
}
.ws-locked{
	opacity:0.25;	
}
.ws-message{
	position:absolute;
	left:50%;
	top:30%;
	width:400px;
	height:100px;
	margin: -100px 0 0 -200px;
	padding-top:50px;
	font-size:48px;
	text-align:center;
	vertical-align:middle;
	color:#FFF;
	border:medium solid #FFF;
	border-radius:100px;
	z-index:100;
	box-shadow:0px 5px 5px #000;
	background-image:url(../images/Black_Alpha25.png);
}
.ws-option {
	width:200px;
	height:48px;
	font-size:42px;
	line-height: 48px;
	color: #fff;
	text-align:center;
	border:2px #FFF solid;
	border-radius:24px;
	box-shadow:0px 5px 5px #000;
	background-image:url(../images/Black_Alpha25.png);
}
.ws-options .ws-begin {
	position:absolute;
	left:50%;
	top:80%;
	margin-left:-100px;
}
.ws-options .ws-exit {
	position:absolute;
	left:50%;
	top:90%;
	margin-left:-100px;
}